/*! Skele - v0.1.0 - 2013-09-18
 * Copyright (c) 2013 
 * Licensed 
 */

/*--------------------------------------------------=> Reset */
/*
Standard browser resets for Skele
*/
/* ------------ General */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* ------------ Typography */
h1, h2, h3, h4 {
  font-weight: normal; }

small {
  font-size: 80%; }

strong {
  font-weight: bold; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ------------ Images */
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

/* ------------ Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }

td, th {
  text-align: inherit; }

td img {
  vertical-align: top; }

/* ------------ Forms */
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

input, select {
  vertical-align: middle; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

select, input, textarea {
  font: 99% sans-serif; }

/* ------------ Misc */
ul {
  list-style: none; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/*--------------------------------------------------=> Site */
/*
Base styles for the site, this section will usually only include the html and body selectors
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  overflow-y: scroll; }

body {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3em;
  height: 100%; }

/*--------------------------------------------------=> Base */
/*
This section generally sets out the basic styles for the page. Headers
lists, anchors etc are specificed here. This should be based on the style
guide provided from the designers.
*/
/* ------------ Header */
h1, .h1 {
  color: #000;
  font-size: 1.875em;
  /* 30px */
  line-height: 1.067;
  /* 32px */
  margin-bottom: 18px; }

/* ------------ Paragraph */
p {
  font-size: 0.75em;
  /* 12px */
  margin-bottom: 15px; }

/* ------------ Link */
a {
  color: #7b9f17; }

a:hover, a:focus {
  text-decoration: underline; }

/* Buttons */
/* Prefix all class names with 'btn_' */
/* ------------ List */
ul, ol {
  font-size: 0.75em;
  /* 12px */
  margin-bottom: 15px;
  zoom: 1; }

ul {
  list-style: none; }

ul li {
  margin-bottom: 11px;
  padding: 0 0 0 13px;
  zoom: 1; }

ol li {
  margin-bottom: 11px;
  margin-left: 25px; }

li > ul, li > ol {
  font-size: 1em;
  margin-top: 11px;
  margin-bottom: 0; }

ol li ul li {
  margin-left: 0; }

ul li ol li {
  padding: 0;
  background: none; }

/* ------------ Table */
table {
  width: 100%;
  font-size: 0.75em;
  /* 12px */
  margin-bottom: 15px; }

table tr td {
  padding: 7px 10px 6px 0;
  border-bottom: 1px solid #eeeae1; }

table tr td.width_1 {
  width: 88px; }

/* ------------ Form */
form {
  position: relative;
  zoom: 1; }

/* ------------ Blockquote */
/*--------------------------------------------------=> Grid */
/*
This is one of the most inportant sections of the style sheet, it sets up
the basic width blocks to be used through out the site. The grid setup
should be discussed with the design team before design commences
*/
.row {
  margin-left: -20px; }

.lt_ie9 .row {
  zoom: 1; }

.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0; }

.row:after {
  clear: both; }

[class*="col_"] {
  float: left;
  min-height: 1px;
  padding-left: 20px; }

.col_1_12 {
  width: 8.333%; }

.col_1_8 {
  width: 12.5%; }

.col_1_6 {
  width: 16.666%; }

.col_1_5 {
  width: 20%; }

.col_1_4 {
  width: 25%; }

.col_1_3 {
  width: 33.333%; }

.col_5_12 {
  width: 41.666%; }

.col_1_2 {
  width: 50%; }

.col_7_12 {
  width: 58.333%; }

.col_2_3 {
  width: 66.666%; }

.col_3_4 {
  width: 75%; }

.col_4_5 {
  width: 80%; }

.col_5_6 {
  width: 83.333%; }

.col_7_8 {
  width: 87.5%; }

.col_11_12 {
  width: 91.666%; }

.col_full {
  width: 100%; }

/*--------------------------------------------------=> Header */
/*
The main area at the top of the page. Usually encloses the logo, primary nav,
support nav and search. 
*/
/* ------------ Header*/
header {
  position: relative;
  margin: 0 0 10px 0; }

/* ------------ Search */
/*
Used for the main search on a page
*/
/*--------------------------------------------------=> Navigation */
/*
All navigation elemets are listed here. This includes header, left, right and 
footer navigation as well as any other basic navigation blocks that might
appear.
*/
/* ------------ Primary nav */
/*
This is the main navigation for the site. When looking at the site map the 
primary navigation should get you to the main sections. 
*/
nav.pri {
  float: left;
  margin: 0 0 20px 0;
  overflow: hidden; }
  nav.pri ul > li {
    float: left; }
    nav.pri ul > li > a {
      display: block; }

/* ------------ Primary dropdown */
/*
If the site has an expanding primary nav use the following base styles to
ensure consistency across all SAS sites.
*/
/* ------------ Support nav */
/*
The support nav is not the primary nav, or the secondary nav but might 
be used above the header to provide additional links to key pages. 
Remove is not used
*/
/* ------------ Secondary nav */
/*
Used to specify second level navigation, usually on the left of the page.
*/
/*--------------------------------------------------=> Main content */
/*
These styles relate to the main content on the page. This is generally all
content below the header excluding the nav elements and footer. 
*/
/* wrapper max-width is 40px more than site width to account for left/right gutters */
.wrapper {
  width: 100%;
  max-width: 1000px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px; }

/* ------------ Section */
/*
A flexable block used semantically to group related content together.
The actual application of the section element might change from site
to site.
*/
/* ------------ Hero */
/*
Used to define a major image block ot carousel on a page.
*/
/* ------------ List */
/* 
Prefix all list classes with 'list_' for consistency.
*/
/* List reset */
.list_reset {
  list-style: none;
  margin: 0 0 13px 0;
  padding: 0; }

.list_reset li {
  background: none;
  margin: 0;
  padding: 0; }

/* ------------ Video */
/* ------------ Forms */
/* ------------ Tables */
/* ------------ Module */
.mod {
  position: relative; }

/*--------------------------------------------------=> Footer */
/*
Generally placed at the bottom of a page.
*/
/*--------------------------------------------------=> OOCSS */
/*
The following styles are used as classes on HTML markup to extend
their appearance without providing additional markup. Read up on 
OOCSS if required but this process allows reduced CSS through 
applying more classes to DOM elements.
*/
/* ------------ Text size */
/* ------------ Color */
/* ------------ Background */
/* ------------ Borders */
/*--------------------------------------------------=> Utility */
/*
Used similary to OOCSS the utility classes allow common code
to the utilised throughout the site without duplicating CSS. 
*/
hr, .hr {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 15px;
  font-size: 0;
  line-height: 0;
  border: none;
  border-bottom: 1px solid #999999; }

/* ------------ Margin */
/*
Impacts on the margin selector
*/
.margin_0 {
  margin: 0 !important; }

.margin_t_0 {
  margin-top: 0 !important; }

.margin_r_0 {
  margin-right: 0 !important; }

.margin_b_0 {
  margin-bottom: 0 !important; }

.margin_l_0 {
  margin-left: 0 !important; }

/* ------------ Padding */
/*
Impacts on the padding selector
*/
.padding_0 {
  padding: 0 !important; }

.padding_t_0 {
  padding-top: 0 !important; }

.padding_r_0 {
  padding-right: 0 !important; }

.padding_b_0 {
  padding-bottom: 0 !important; }

.padding_l_0 {
  padding-left: 0 !important; }

/* ------------ Border */
/*
Impacts on the border selector
*/
.border_0 {
  border: 0 !important; }

.border_t_0 {
  border-top: 0 !important; }

.border_r_0 {
  border-right: 0 !important; }

.border_b_0 {
  border-bottom: 0 !important; }

.border_l_0 {
  border-left: 0 !important; }

/* ------------ Floats */
/*
Allows the use of float without having to declare it on unique 
selectors. 
*/
.left {
  float: left; }

.right {
  float: right; }

/* ------------ Text alignment */
/*
Impacts on the text alignment selector
*/
.text_l {
  text-align: left; }

.text_r {
  text-align: right; }

.text_c {
  text-align: center; }

/* ------------ Text case */
/*
Transform text size, used mainly on headings and link text
*/
.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

/* ------------ Typography */
/*
Useful when building heading elements similar to the above
*/
.strong {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.italic {
  font-style: italic; }

/* ------------ Clear */
/*
Clears floating elements to ensure div boxes maintain the 
anticipated height. Spacer 
*/
.clearer {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.spacer {
  clear: both;
  font-size: 0;
  height: 20px;
  line-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden; }

/* ------------ Misc */
/*
Styles that do not have a logical place on the rest of the style sheet
Please think hard before adding styles here and ensure that all styles
are adequatly commented
*/
.block {
  display: block; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.no_display {
  display: none !important;
  visibility: hidden; }

/*--------------------------------------------------=> Mobile */
/*
Initial setup of media queries. Depending on the setup of the site and the overall
demands of the CSS it might be better to include these in seperate files and 
include them into the header. If this is the option used then each seperate file
must have the media query block as well. 
*/
@media handheld, only screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
    min-width: 100%; }

  [class*="col_"] {
    width: auto;
    float: none; } }
/*--------------------------------------------------=> Print */
/*
The print style sheet. Look to provide a simple printout of the content,
keeping images etc in tact but removing things like navigation, footers and 
page elements that are not considered relevant to the page content. 
*/
