/*--------------------------------------------------=> Grid */
/*
This is one of the most inportant sections of the style sheet, it sets up
the basic width blocks to be used through out the site. The grid setup
should be discussed with the design team before design commences
*/
.row {
	margin-left: -20px;
}
.lt_ie9 .row {
	zoom: 1;
}
.row:before, .row:after {
	display: table;
	content: "";
	line-height: 0;
}
.row:after {
	clear: both;
}

[class*="col_"] {
	float: left;
	min-height: 1px;
	padding-left: 20px;
}

.col_1_12 {
	width: 8.333%;
}
.col_1_8 {
	width: 12.5%;
}
.col_1_6 {
	width: 16.666%;
}
.col_1_5 {
	width: 20%;
}
.col_1_4 {
	width: 25%;
}
.col_1_3 {
	width: 33.333%;
}
.col_5_12 {
	width: 41.666%;
}
.col_1_2 {
	width: 50%;
}
.col_7_12 {
	width: 58.333%;
}
.col_2_3 {
	width: 66.666%;
}
.col_3_4 {
	width: 75%;
}
.col_4_5 {
	width: 80%;
}
.col_5_6 {
	width: 83.333%;
}
.col_7_8 {
	width: 87.5%;
}
.col_11_12 {
	width: 91.666%;
}
.col_full {
	width: 100%;
}
