/*--------------------------------------------------=> Utility */
	/*
	Used similary to OOCSS the utility classes allow common code
	to the utilised throughout the site without duplicating CSS. 
	*/
	hr, .hr {
		display: block;
		width: 100%;
		height: 1px;
		margin-bottom: 15px;
		font-size: 0;
		line-height: 0;
		border: none;
		border-bottom: 1px solid #999;
	}

/* ------------ Margin */
	/*
	Impacts on the margin selector
	*/
	.margin_0 {
		margin: 0 !important;
	}
	.margin_t_0 {
		margin-top: 0 !important;
	}
	.margin_r_0 {
		margin-right: 0 !important;
	}
	.margin_b_0 {
		margin-bottom: 0 !important;
	}
	.margin_l_0 {
		margin-left: 0 !important;
	}

/* ------------ Padding */
	/*
	Impacts on the padding selector
	*/
	.padding_0 {
		padding: 0 !important;
	}
	.padding_t_0 {
		padding-top: 0 !important;
	}
	.padding_r_0 {
		padding-right: 0 !important;
	}
	.padding_b_0 {
		padding-bottom: 0 !important;
	}
	.padding_l_0 {
		padding-left: 0 !important;
	}

/* ------------ Border */
	/*
	Impacts on the border selector
	*/
	.border_0 {
		border: 0 !important;
	}
	.border_t_0 {
		border-top: 0 !important;
	}
	.border_r_0 {
		border-right: 0 !important;
	}
	.border_b_0 {
		border-bottom: 0 !important;
	}
	.border_l_0 {
		border-left: 0 !important;
	}

/* ------------ Floats */
	/*
	Allows the use of float without having to declare it on unique 
	selectors. 
	*/
	.left {
		float: left;
	}
	.right {
		float: right;
	}

/* ------------ Text alignment */
	/*
	Impacts on the text alignment selector
	*/
	.text_l {
		text-align: left;
	}
	.text_r {
		text-align: right;
	}
	.text_c {
		text-align: center;
	}

/* ------------ Text case */
	/*
	Transform text size, used mainly on headings and link text
	*/
	.upper {
		text-transform: uppercase;
	}
	.lower {
		text-transform: lowercase;
	}

/* ------------ Typography */
	/*
	Useful when building heading elements similar to the above
	*/
	.strong {
		font-weight: bold;
	}
	.normal {
		font-weight: normal;
	}
	.italic {
		font-style: italic;
	}

/* ------------ Clear */
	/*
	Clears floating elements to ensure div boxes maintain the 
	anticipated height. Spacer 
	*/
	.clearer {
		clear: both;
		font-size: 0;
		height: 0;
		line-height: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	.spacer {
		clear: both;
		font-size: 0;
		height: 20px;
		line-height: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}