@import "reset";

/*--------------------------------------------------=> Site */
	/*
	Base styles for the site, this section will usually only include the html and body selectors
	*/
	* {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	html {
		height: 100%;
		overflow-y: scroll;
	}
	body {
		color: #666;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 1.3em;
		height: 100%;
	}

/*--------------------------------------------------=> Base */
	/*
	This section generally sets out the basic styles for the page. Headers
	lists, anchors etc are specificed here. This should be based on the style
	guide provided from the designers.
	*/

	/* ------------ Header */
	h1, .h1 {
		color: #000;
		font-size: 1.875em; /* 30px */
		line-height: 1.067; /* 32px */
		margin-bottom: 18px;
	}
	h2, .h2 {
	}
	h3, .h3 {
	}
	h4, .h4 {
	}
	h5, .h5 {
	}
	h6, .h6 {
	}

	/* ------------ Paragraph */
	p {
		font-size: 0.75em; /* 12px */
		margin-bottom: 15px;
	}

	/* ------------ Link */
	a {
		color: #7b9f17;
	}
	a:hover, a:focus {
		text-decoration: underline;
	}

	/* Buttons */
	/* Prefix all class names with 'btn_' */
	.btn {
	}

	/* ------------ List */
	ul, ol {
		font-size: 0.75em; /* 12px */
		margin-bottom: 15px;
		zoom: 1;
	}
	ul {
		list-style:none;
	}
	ul li {
		margin-bottom: 11px;
		padding: 0 0 0 13px;
		zoom: 1;
	}
	ol li {
		margin-bottom: 11px;
		margin-left: 25px;
	}
	li > ul, li > ol {
		font-size: 1em;
		margin-top: 11px;
		margin-bottom: 0;
	}
	ol li ul li {
		margin-left: 0;
	}
	ul li ol li {
		padding: 0;
		background: none;
	}

	/* ------------ Table */
	table {
		width: 100%;
		font-size: 0.75em; /* 12px */
		margin-bottom: 15px;
	}
	table tr td {
		padding: 7px 10px 6px 0;
		border-bottom: 1px solid #eeeae1;
	}
	table tr td.width_1 {
		width: 88px;
	}

	/* ------------ Form */
	form {
		position: relative;
		zoom: 1;
	}

	/* ------------ Blockquote */
	blockquote {
	}

@import "grid";

/*--------------------------------------------------=> Header */
/*
The main area at the top of the page. Usually encloses the logo, primary nav,
support nav and search. 
*/

/* ------------ Header*/
	header {
		position: relative;
		margin: 0 0 10px 0;
	}

/* ------------ Search */
/*
Used for the main search on a page
*/
	.site_search {
	}

/*--------------------------------------------------=> Navigation */
/*
All navigation elemets are listed here. This includes header, left, right and 
footer navigation as well as any other basic navigation blocks that might
appear.
*/

/* ------------ Primary nav */
/*
This is the main navigation for the site. When looking at the site map the 
primary navigation should get you to the main sections. 
*/
nav.pri {
	float: left;
	margin: 0 0 20px 0;
	overflow: hidden;
	ul{
		> li {
			float:left;
			> a {
				display: block;
			}
		}
	}
	.current{}
}

/* ------------ Primary dropdown */
/*
If the site has an expanding primary nav use the following base styles to
ensure consistency across all SAS sites.
*/
.dropdown_container {
}
.dropdown_container ul {
}

/* ------------ Support nav */
/*
The support nav is not the primary nav, or the secondary nav but might 
be used above the header to provide additional links to key pages. 
Remove is not used
*/
.nav_sup {
}
.nav_sup li {
}
.nav_sup .current {
}

/* ------------ Secondary nav */
/*
Used to specify second level navigation, usually on the left of the page.
*/
.nav_sec {
}
.nav_sec li ul {
}
.nav_sec li ul li {
}
.nav_sec .current {
}





/*--------------------------------------------------=> Main content */
/*
These styles relate to the main content on the page. This is generally all
content below the header excluding the nav elements and footer. 
*/
/* wrapper max-width is 40px more than site width to account for left/right gutters */
.wrapper {
	width: 100%;
	max-width: 1000px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 20px;
}
main {
}
.push {
}

/* ------------ Section */
/*
A flexable block used semantically to group related content together.
The actual application of the section element might change from site
to site.
*/
.section {
}

/* ------------ Hero */
/*
Used to define a major image block ot carousel on a page.
*/
.hero {
}

/* ------------ List */
/* 
Prefix all list classes with 'list_' for consistency.
*/

/* List reset */
.list_reset
{
	list-style:none;
	margin:0 0 13px 0;
	padding:0;
}
.list_reset li
{
	background:none;
	margin:0;
	padding:0;
}

/* ------------ Video */

/* ------------ Forms */

/* ------------ Tables */

/* ------------ Module */
.mod {
	position: relative;
}

/*--------------------------------------------------=> Footer */
/*
Generally placed at the bottom of a page.
*/
.footer {
}

/*--------------------------------------------------=> OOCSS */
/*
The following styles are used as classes on HTML markup to extend
their appearance without providing additional markup. Read up on 
OOCSS if required but this process allows reduced CSS through 
applying more classes to DOM elements.
*/

/* ------------ Text size */

/* ------------ Color */

/* ------------ Background */

/* ------------ Borders */

@import 'utility';

/* ------------ Misc */
/*
Styles that do not have a logical place on the rest of the style sheet
Please think hard before adding styles here and ensure that all styles
are adequatly commented
*/
.block {
	display: block;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.no_display {
	display: none !important;
	visibility: hidden;
}

/*--------------------------------------------------=> Mobile */
/*
Initial setup of media queries. Depending on the setup of the site and the overall
demands of the CSS it might be better to include these in seperate files and 
include them into the header. If this is the option used then each seperate file
must have the media query block as well. 
*/
@media handheld, only screen and (max-width: 767px) {
	.wrapper {
		width: 100%;
		min-width: 100%;
	}

	[class*="col_"] {
		width: auto;
		float: none;
	}
}

@import 'print';